 @media only screen and (max-width: 915px) {
  .header_sec {
    width: 100%;
    height: 40rem;
    background-color: #ff7700;
    background-image: url(images/1st.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header_content {
    width: 60%;
    position: absolute;
    top: 15rem;
    left: 1rem;
  }
  .header_regbtn {
    width: 60%;
    padding: 0.5rem;
    background-color: #ff7700;
    border: none;
    font-size: medium;
    margin-top: 2rem;
  }
  .header_heading {
    font-size: 4rem;
    font-weight: 400;
  }
  /* <!-- Dance Section --> */
  
  .dance_heading {
    padding: 1rem;
    font-size: 2rem;
  }
  .dance_para {
    width: 50%;
    text-align: center;
    padding: 0px 1rem;
  }
  .dcard_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .dance_card_sec {
    width: 100%;
    background-color: #242424;
    text-align: center;
    border: none;
  }

   /* <!-- badge Section --> */
  .badge_heading {
    padding: 1rem;
    font-size: 2rem;
  }
  .badge_para {
    width: 50%;
    text-align: center;
    padding: 0px 1rem;
  }
  .badgecard_sec {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
  }
  .badge_card_sec {
    width: 100%;
    background-color: #ff7700;
    text-align: center;
    border: none;
    padding: 1rem;
  }
    /* <!-- Amazing Section  --> */
  .amez_content {
    width: 50%;
    background-image: url(images/Shape.png);
    background-size: 100% 300%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .amez_heading {
    font-size: 1.5rem;
    padding: 0rem;
    text-align: center;
  }
  .amez_image {
    width: 50%;
  }
  .amez_btn {
    width: 90%;
  }

    /* <!-- BEst Section  --> */
  .best_content {
    width: 50%;
    background-image: url(images/Shape.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .best_Sec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best_image {
    width: 55%;
  }
  .best_btn {
    width: 90%;
  }

  
    /* <!-- state Section --> */
  .stat_sec {
    width: 100%;
    height: auto;
    background-color: #242424;
  }
  .stat_count {
    height: fit-content;
    display: flex;
    gap: 2rem;
  }
  .stat_heading {
    font-size: 2rem;
  }
  .stat_para {
    width: 50%;
    text-align: center;
    padding: 1rem;
  }
  .stat_countcard {
    width: 100%;
    text-align: center;
  }
  .card_para {
    font-size: medium;
    letter-spacing: 2px;
    font-weight: normal;
  }


    /* Hirbert Section */
  .Hirbert_heading {
    font-size: 2rem;
  }
  .Hirbert_para {
    width: 50%;
    text-align: center;
    padding: 1rem;
  }
  .Hirbert_count {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .Hirbert_sec {
    width: 100%;
    background-image: url(images/7th.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;

  }
  .hs {
    height: 30rem;
    background: linear-gradient(to right, #ff66006b, #000000c9);
    overflow: hidden;
  }

    /* Sub Sec */
  .sub_heading {
    font-size: 2rem;
  }
  .sub_para {
    width: 50%;
    text-align: center;
    padding: 0.5rem;
  }
  .sub_input {
    width: 30%;
  }
  .subbtn {
    width: 15%;
    padding: 1rem;
  }

    /* footer */
  .Footer_Sec {
    height: auto;
    background-color: #242424;
    color: #ffffff;
  }
  .Footer {
    height: auto;
  }
  .Footer_heading {
    /* margin-bottom: 1rem; */
    font-size: 1.5rem;
  }
  .Footer_content {
    display: flex;
    flex-wrap: wrap;
  }
  .Footer_card1 {
    padding: 2rem;
  }
  .Footer_card2 {
    width: 40%;
    padding: 0px;
  }
.Footer_heading {
  width: 100%;
  font-size: 1.5rem;
}
.Footer_para {
  width: 100%;
  text-align: center;
  padding: 0rem;
}

/* header  */
.header_logo{
  width: 50%;
  padding: 0px 4rem;
}
.header_menu{
  display: none;
}
.header_search{
  width: 50%;
  padding: 0px 4rem;

}
.img{
  width: 80px;
}
}

@media only screen and (max-width: 600px) {
  .header_sec {
    width: 100%;
    height: 40rem;
    background-color: #ff7700;
    background-image: url(images/1st.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
  }
  .header_content {
    width: auto;
    position: absolute;
    top: 15rem;
    left: 0rem;
  }
  .header_regbtn {
    width: 90%;
    padding: 0.5rem;
    background-color: #ff7700;
    border: none;
    font-size: medium;
    margin-top: 1rem;
  }
  .header_heading {
    font-size: 4rem;
    font-weight: 400;
    padding: 0px 1rem;
    text-align: left;
  }
  .header_para {
    font-size: 1.2rem;
    font-family: monospace;
    text-align: justify;
    padding: 0px 1rem;
  }
  /* <!-- Dance Section --> */

  .dance_heading {
    padding: 2rem;
    font-size: 2rem;
  }
  .dance_para {
    width: auto;
    text-align: justify;
    padding: 0px 1rem;
  }
  .dcard_sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .dance_card_sec {
    width: 100%;
    background-color: #242424;
    text-align: center;
    border: none;
  }

  /* <!-- badge Section --> */
  .badge_heading {
    padding: 2rem;
    font-size: 2rem;
  }
  .badge_para {
    width: auto;
    text-align: justify;
    padding: 0px 1rem;
  }
  .badgecard_sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
  }
  .badge_card_sec {
    width: 100%;
    background-color: #ff7700;
    text-align: center;
    border: none;
    padding: 1rem;
  }
  /* <!-- Amazing Section  --> */
  .amez_content {
    width: 100%;
    background-image: url(images/Shape.png);
    background-size: 100% 300%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .amez_heading {
    font-size: 1.5rem;
    text-align: center;
  }
  .amez_image {
    width: 90%;
    margin: 2rem;
  }
  .amzing_Sec {
    flex-direction: column;
  }
  .amez_btn {
    width: 90%;
  }
  /* <!-- BEst Section  --> */
  .best_content {
    width: 100%;
    /* height: 15rem; */
    background-image: url(images/Shape.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .best_Sec {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .best_image {
    width: 90%;
    margin: 2rem;
  }
  .best_btn {
    width: 90%;
  }
  /* <!-- state Section --> */
  .stat_sec {
    width: 100%;
    height: auto;
    background-color: #242424;
  }
  .stat_count {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .stat_heading {
    font-size: 2rem;
    padding: 1rem;
  }
  .stat_para {
    width: 90%;
    text-align: center;
    padding: 2rem;
  }
  .stat_countcard {
    width: 100%;
    text-align: center;
  }
  .card_para {
    font-size: medium;
    letter-spacing: 2px;
    font-weight: normal;
  }

  /* Hirbert Section */

  .Hirbert_heading {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .Hirbert_para {
    width: 90%;
    text-align: center;
    padding: 1.5rem;
  }
  .Hirbert_count {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .Hirbert_sec {
    width: 100%;
    height: 33rem;
    background-image: url(images/7th.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .hs {
    height: 33rem;
    background: linear-gradient(to right, #ff66006b, #000000c9);
  }
  /* Sub Sec */
  .sub_heading {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .sub_para {
    width: 90%;
    text-align: center;
    padding: 0.5rem;
  }
  .sub_input {
    width: 50%;
  }
  .subbtn {
    width: 30%;
    padding: 1rem;
  }

    /* footer */
  .Footer_Sec {
    height: auto;
    background-color: #242424;
    color: #ffffff;
  }
  .Footer {
    height: auto;
  }
  .Footer_heading {
    /* margin-bottom: 1rem; */
    font-size: 1.5rem;
  }
  .Footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Footer_card1 {
    padding: 2rem;
  }
  .Footer_card2 {
    width: 45%;
    padding: 0px;
  }
.Footer_heading {
  width: 100%;
  font-size: 1.5rem;
}
.Footer_para {
  width: 100%;
  text-align: center;
  padding: 0rem;
}
.header_menu{
  display: none;
}
}
