@media only screen and (max-width: 815px) {
  .header_sec {
    width: 100%;
    height: 40rem;
    background-color: #ff7700;
    background-image: url(images/1st.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header_content {
    width: 60%;
    position: absolute;
    top: 15rem;
    left: 1rem;
  }
  .header_regbtn {
    width: 60%;
    padding: 0.5rem;
    background-color: #ff7700;
    border: none;
    font-size: medium;
    margin-top: 2rem;
  }
  .header_heading {
    font-size: 4rem;
    font-weight: 400;
  }

  /* <!-- Dance Section --> */
}
@media only screen and (max-width: 700px) {
  .header_sec {
    width: 100%;
    height: 40rem;
    background-color: #ff7700;
    background-image: url(images/1st.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header_content {
    width: 60%;
    position: absolute;
    top: 15rem;
    left: 1rem;
  }
  .header_regbtn {
    width: 60%;
    padding: 0.5rem;
    background-color: #ff7700;
    border: none;
    font-size: medium;
    margin-top: 2rem;
  }
  .header_heading {
    font-size: 4rem;
    font-weight: 400;
  }
  /* <!-- Dance Section --> */
}
@media only screen and (max-width: 500px) {
  .header_sec {
    width: 100%;
    height: 40rem;
    background-color: #ff7700;
    background-image: url(images/1st.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
  }
  .header_content {
    width: auto;
    position: absolute;
    top: 15rem;
    left: 0rem;
  }
  .header_regbtn {
    width: 90%;
    padding: 0.5rem;
    background-color: #ff7700;
    border: none;
    font-size: medium;
    margin-top: 1rem;
  }
  .header_heading {
    font-size: 4rem;
    font-weight: 400;
    padding: 0px 1rem;
    text-align: left;
  }
  .header_para {
    font-size: 1.2rem;
    font-family: monospace;
    text-align: justify;
    padding: 0px 1rem;
  }
  /* <!-- Dance Section --> */

  .dance_heading {
    padding: 2rem;
    font-size: 2rem;
  }

  .dance_para {
    width: auto;
    text-align: justify;
    padding: 0px 1rem;
  }
  .dcard_sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .dance_card_sec {
    width: 100%;
    background-color: #242424;
    text-align: center;
    border: none;
  }
  /* <!-- badge Section --> */
  .badge_heading {
    padding: 2rem;
    font-size: 2rem;
  }

  .badge_para {
    width: auto;
    text-align: justify;
    padding: 0px 1rem;
  }

  .badgecard_sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
  }

  .badge_card_sec {
    width: 100%;
    background-color: #ff7700;
    text-align: center;
    border: none;
    padding: 1rem;
  }
  /* <!-- Amazing Section  --> */
  .amez_content {
    width: 100%;
    height: 10rem;
    background-image: url(images/Shape.png);
    background-size: 100% 300%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .amez_heading {
    font-size: 1.5rem;
    padding: 0rem;
    text-align: center;
  }
  .amez_image {
    width: 90%;
    margin: 2rem;
  }
  .amzing_Sec {
    height: 45rem;
    flex-direction: column;
  }
  .amez_btn {
    width: 90%;
  }
  /* <!-- BEst Section  --> */
  .best_content {
    width: 100%;
    height: 15rem;
    background-image: url(images/Shape.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .best_Sec {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .best_image {
    width: 90%;
    margin: 2rem;
  }
  .best_btn {
    width: 90%;
  }
  /* <!-- state Section --> */
  .stat_sec {
    width: 100%;
    height: auto;
    background-color: #242424;
  }
  .stat_count {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .stat_heading {
    font-size: 2rem;
    padding: 1rem;
  }
  .stat_para {
    width: 100%;
    text-align: center;
    padding: 1.5rem;
  }
  .stat_countcard {
    width: 100%;
    text-align: center;
  }
  .card_para {
    font-size: medium;
    letter-spacing: 2px;
    font-weight: normal;
  }

  /* footer */
  .Footer_Sec {
    height: auto;
    background-color: #242424;
    color: #ffffff;
  }
  .Footer {
    height: auto;
  }
  .Footer_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .Footer_card1 {
    padding: 2rem;
    border: 1px solid red;
  }
  .Footer_card2 {
    width: 45%;
    border: 1px solid red;
  }
  .Footer_list {
    list-style: none;
    gap: 2rem;
    padding-left: 0.5rem;
  }
}
